.image-viewer {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.image-viewer__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
