.window-content {
  height: 100vh;
  justify-content: space-between;
}

.image-container {
  height: calc(100% - 49px);
  flex-shrink: 1;
  flex-grow: 1;
  justify-self: stretch;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  display: block;
  // TODO: Update these styles with JS when I add zoom settings
  max-height: 100%;
  max-width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  object-fit: contain;
  object-position: center;
}

video.image:focus {
  outline: none;
}

.status-bar {
  background-color: black;
  flex-grow: 0;
  flex-shrink: 0;
}
