.window-content {
  height: 100vh;
  justify-content: space-between;
}

.image-container {
  height: calc(100% - 49px);
  flex-shrink: 1;
  flex-grow: 1;
  justify-self: stretch;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  display: block;
  // TODO: Update these styles with JS when I add zoom settings
  max-height: 100%;
  max-width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  object-fit: contain;
  object-position: center;
}

video.image:focus {
  outline: none;
}

.status-bar {
  background-color: black;
  flex-grow: 0;
  flex-shrink: 0;
}

.action-dialog {
  position: absolute;
  top: 10px;
  display: flex;
  flex-direction: column;
  width: 600px;
  max-height: 600px;
  z-index: 2550;
  left: 50%;
  margin-left: -300px;
  max-width: 100%;
  border-radius: 6px;
  background-color: #222222;
}
.action-dialog__header {
  padding: 8px 6px 6px;
  display: flex;
}
.action-dialog__input {
  flex-grow: 1;
  background-color: #313131;
  border: thin solid grey;
  color: white;
}
.action-dialog__list {
  padding: 0 6px 6px;
  overflow-y: scroll;
}
.action-dialog__list-item {
  font-size: 13px;
  margin: 3px;
  padding: 0px 12px;
  border-radius: 2px;
}
.action-dialog__list-item:hover {
  background-color: #2b2d2e;
}
.action-dialog__list-item_selected {
  background-color: #03395e;
  color: white;
}
